<p><%= f.search_field :name_cont, :placeholder => "姓名", :class => "form-control" %></p>
<p><%= f.search_field :email_cont, :placeholder => "E-mail", :class => "form-control" %></p>

<p><%= text_field_tag :registration_id, params[:registration_id], :placeholder => "报名编号，可用“,”号区隔", :class => "form-control" %></p>

<p>报名日期：<%= date_field_tag :start_on, params[:start_on] %>～<%= date_field_tag :end_on, params[:end_on] %> </p><!-- NOTE name: :end_on, value: params[:end_on] -->

<p class="text-right">
  <%= submit_tag t("admin.submit_filter"), :class => "btn btn-primary" %>
</p>
