<h1><%= @event.name %> / Registrations</h1>

<p class="text-right">
  <%= link_to "New Registration", new_admin_event_registration_path(@event), :class => "btn btn-primary" %>
</p>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Ticket</th>
    <th>Name</th>
    <th>Status</th>
    <th>E-mail</th>
    <th>Created_at</th>
    <th>Actions</th>
  </tr>
  <% @registrations.each do |r| %>
    <tr>
      <td><%= r.id %></td>
      <td><%= r.ticket.name %></td>
      <td><%= r.name %></td>
      <td><%= t(r.status, :scope => "registration.status") %></td>
      <td><%= r.email %></td>
      <td><%= r.created_at %></td>
      <td>
        <%= link_to "Edit", edit_admin_event_registration_path(@event, r), :class => "btn btn-default" %>
        <%= link_to "Delete", admin_event_registrations_path(@event, r), :method => :delete, :data => { :confirm => "Are you sure?"}, :class => "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
