<%= form_tag admin_events_path, :method => :get do %>
  <fieldset style="border: 2px solid #bbb; padding: 10px; margin-bottom: 10px;">
    <p><% Event::STATUS.each do |s| %>
      <label>
        <%= check_box_tag "statuses[]", s, Array(params[:statuses]).include?(s) %> <!-- NOTE: name: statuses[], value: s, checked: judge？ true or false -->
        <%= t(s, :scope => "event.status") %>
        (<%= Event.all.by_status(s).size %>)
      </label>
      <% end %></p>

      <p><% @categories.each do |c| %>
        <label>
          <% if c.events.where( :category_id => c.id ).size != 0 %>
          <%= check_box_tag "category_ids[]", c.id, Array(params[:category_ids]).include?(c.id.to_s) %> <!-- NOTE: Array() avoid NoMethodError nil.method -->
          <%= c.name %> (<%= c.events.where( :category_id => c ).size %>)
          <% end %>
        </label>
        <% end %></p>

        <p class="text-right">
          <%= submit_tag t("admin.submit_filter"), :class => "btn btn-primary" %>
        </p>
  </fieldset>
<% end %>
