<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('errors.template.header', :model => Event.model_name.human, :count => @event.errors.count) %></h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :friendly_id %>
  <%= f.text_field :friendly_id, :required => true, :class => "form-control" %>
  <p class="help-block">限小写数字及横线，将作为网址的一部分</p>
</div>

<div class="form-group">
  <%= f.label :status %>
  <!-- <%= f.select :status, Event::STATUS.map{ |s| [t(s, :scope => "event.status"), s] }, {}, :class => "form-control" %> -->
  <div class="btn-group" data-toggle="buttons">
    <% Event::STATUS.each do |status| %>
      <label class="btn btn-default <%= (status == f.object.status)? 'active' : '' %>">
        <%= f.radio_button :status, status %>
        <%= t(status, :scope => "event.status") %>
      </label>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] }, {}, :class => "form-control" %>
</div>

<div class="form-group">
  <label>My Logo URL:</label>
  <p><%= f.text_field :remote_logo_url, :placeholder => "Logo 图片网址: https://www.example.com/.../picture.jpg", :class => "form-control" %></p>
</div>

<div class="from-group">
  <p>
    <%= f.label :logo %>
    <%= f.file_field :logo, :class => "form-control" %>
  </p>

  <%= link_to image_tag(@event.logo.url(:small), :class => "thumbnail", :style => "display: inline;"), @event.logo.url, :target => "_blank" if @event.logo? %>

  <% if f.object.logo.present? %>
    <p>
      <label class="label label-danger">
        <%= f.check_box :remove_logo %> 删除图档 Logo
      </label>
      <%= link_to f.object.logo.filename, f.object.logo.url, :target => "_blank" %>
    </p>
    <hr>
  <% end %>
</div>

<div class="form-group">
  <p>
    <%= f.label :images %>             <!-- NOTE file_field -->
    <%= f.file_field :images, :multiple => true, :class => "form-control" %>
  </p>

  <% if f.object.images.present? %>
    <p>
      <label class="label label-danger">
        <%= f.check_box :remove_images %> 删除图档 images
      </label>
    </p>
    <% f.object.images.each do |image| %>
      <%= link_to image.filename, image.url, :target => "_blank" %> <br>
    <% end %>
  <% end %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.cktext_area :description, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini', language: 'zh-CN' } %>
</div>

<%= f.nested_fields_for :attachments do |ff| %>
  <fieldset style="border-left: 5px solid #bbb; margin-bottom: 10px; padding: 10px">
    <legend>Attachment</legend>
    <div class="form-group">
      <%= ff.label :attachment %>
      <%= ff.file_field :attachment, :class => "form-control" %>
      <% if ff.object.attachment.present? %>
        已上传档案 <%= link_to ff.object.description, ff.object.attachment.url, :target => "_blank" %>
      <% end %>
    </div>

    <div class="form-group">
      <%= ff.label :description %>
      <%= ff.text_field :description, :class => "form-control" %>
    </div>

    <%= ff.remove_nested_fields_link "移除这个档案", :class => "btn btn-danger" %>
  </fieldset>
<% end %>

<p class="text-right">
  <%= f.add_nested_fields_link :attachments, "新增档案", :class => "btn btn-default" %>
</p>

<%= f.nested_fields_for :tickets do |ff| %>
  <fieldset style="border-left: 5px solid #bbb; margin-bottom: 10px; padding: 10px;">
    <legend>Ticket</legend>
    <div class="form-group">
      <%= ff.label :name %>
      <%= ff.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :price %>
      <%= ff.number_field :price, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :description %>
      <%= ff.text_area :description, :class => "form-control" %>
    </div>

  </fieldset>
  <%= ff.remove_nested_fields_link "移除这个票种", :class => "btn btn-danger btn-sm" %>
<% end %>

<p class="text-right">
  <%= f.add_nested_fields_link :tickets, "新增票种", :class => "btn btn-default" %>
</p>

<script type="text/javascript">
  $("#event_category_id").select2( { theme: "bootstrap" } );

  // js for file upload button
  $("#event_logo").filestyle({
    input: false,
    buttonText: "从本地上传活动 logo 图片",
    buttonName: "btn-info",
    size: "sm",
    iconName: "glyphicon glyphicon-picture"
  });

  // js for event images upload button
  $("#event_images").filestyle({
    input: false,
    buttonText: "上传活动图片images",
    buttonName: "btn-primary",
    size: "ls",
    iconName: "glyphicon glyphicon-picture"
  })

</script>
