<div>
  <%= link_to t("admin.new_event"), new_admin_event_path, :class => "btn btn-primary pull-right" %>

  <h1><%= t("admin.event_list") %></h1>
</div>

<%= form_tag admin_events_path, :method => :get do %>
  <fieldset style="border: 2px solid #bbb; padding: 10px; margin-bottom: 10px;">
    <p><% Event::STATUS.each do |s| %>
      <label>
        <%= check_box_tag "statuses[]", s, Array(params[:statuses]).include?(s) %> <!-- NOTE: name: statuses[], value: s, checked: judge？ true or false -->
        <%= t(s, :scope => "event.status") %>
        (<%= Event.all.by_status(s).size %>)
      </label>
      <% end %></p>

      <p><% @categories.each do |c| %>
        <label>
          <% if c.events.where( :category_id => c.id ).size != 0 %>
          <%= check_box_tag "category_ids[]", c.id, Array(params[:category_ids]).include?(c.id.to_s) %> <!-- NOTE: Array() avoid NoMethodError nil.method -->
          <%= c.name %> (<%= c.events.where( :category_id => c ).size %>)
          <% end %>
        </label>
        <% end %></p>

        <p class="text-right">
          <%= submit_tag t("admin.submit_filter"), :class => "btn btn-primary" %>
        </p>
  </fieldset>
<% end %>

<%= form_tag bulk_update_admin_events_path, :class => "form-inline" do %>
  <table class="table">
    <thead>
      <tr>
        <!-- name value checked id -->
        <th><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></th>
        <th>Event Name</th>
        <th>Status</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="sortable">
      <% @events.each do |event| %>
        <tr data-reorder-url="<%= reorder_admin_event_path(event) %>">
          <td>
            <%= check_box_tag "ids[]", event.id %>
          </td>
          <td>
            <span class="sortable_icon">☰</span>
            <%= link_to event.name, admin_event_path(event) %>
          </td>
          <td><%= t(event.status, :scope => "event.status") %></td>
          <td><%= event.category.try(:name) %></td>
          <td>
            <%= link_to  reorder_admin_event_path(event, :position => :first), :method => :post, :class => "btn btn-default btn-sm" do %>
              <%= t("admin.top") %>
              <span class="glyphicon glyphicon-arrow-up"></span>
            <% end %>
            <%= link_to reorder_admin_event_path(event, :position => :last), :method => :post, :class => "btn btn-default btn-sm" do %>
              <%= t("admin.bottom") %>
              <span class="glyphicon glyphicon-arrow-down"></span>
            <% end %>
            <%= link_to t("admin.registrations"), admin_event_registrations_path(event), :class => "btn btn-default btn-sm" %>
            <%= link_to t("admin.tickets"), admin_event_tickets_path(event), :class => "btn btn-default btn-sm" %>
            <%= link_to content_tag(:i, " #{t("admin.attachments")}", :class => "glyphicon glyphicon-picture"), admin_event_attachments_path(event), :class => "btn btn-default btn-sm" %>
            <%= link_to t("admin.edit"), edit_admin_event_path(event), :class => "btn btn-default btn-sm" %>
            <%= link_to t("admin.delete"), admin_event_path(event), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger btn-sm" %>
          </td>
              </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%= select_tag :event_status, options_for_select( Event::STATUS.map{ |s| [t(s, :scope => "event.status"), s] }), :class => "form-control" %>

    <%= submit_tag t(:bulk_update), :class => "btn btn-primary" %>
    <%= submit_tag t(:bulk_delete), :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %>
  </p>
<% end %>

<script type="text/javascript">
// checkbox for toggle_all
  $("#toggle_all").click(function(){
    if ( $(this).prop("checked") ) {
      $("input[name='ids[]']").prop("checked", true);
    } else {
      $("input[name='ids[]']").prop("checked", false);
    }
  })

// jquery-ui-rails for sortable up or down
  $(".sortable").sortable({
    axis: 'y',
    items: 'tr',
    cursor: 'move',
    handle: ".sortable_icon",
    stop: function(e, ui){
      ui.item.children('td').effect('highlight', {}, 1000)
    },
    update: function(e, ui){
      reorder_url = ui.item.data('reorder-url')
      position = ui.item.index()
      $.ajax({
        type: 'POST',
        url: reorder_url,
        dataType: 'json',
        data: { position: position }
      })
    }
  })
</script>
