<h2>Edit User</h2>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('errors.template.header', :model => User.model_name.human, :count => @user.errors.count) %></h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<script type="text/javascript">
  $("#user_profile_attributes_birthday").datepicker({
    format: "yyyy-mm-dd",
    language: "<%= I18n.locale %>"
   });

   // js for file upload button
   $("#user_logo").filestyle({
     input: false,
     buttonText: "上传头像",
     buttonName: "btn-info",
     size: "sm",
     iconName: "glyphicon glyphicon-picture"
   });
</script>
