<h1 class="text-center">
  <% if @event.logo.present? %>
    <%= link_to image_tag(@event.logo.url(:thumb), :class => "thumbnail", :style => "border-radius: 50%; display: inline; margin: auto; height: 60px; width: 60px;"), @event.logo.url, :target => "_blank" %>
  <% end %>
  <%= @event.name %>
</h1>

<!-- Event Status & Category -->
<h2>
  <label class="label label-default mgr10">
    <%= t(@event.status, :scope => "event.status") %>
  </label>

  <label class="label label-default mgr10">
    <%= @event.category.try(:name) %>
  </label>
</h2>

<!-- Event Images -->
<h2>Event Images</h2>
<%= render "event_images" %>

<!-- Event Attachments -->
<h2>Attachments</h2>
<%= render "event_attachments" %>

<% if @event.description.present? %>
  <hr>
  <%= sanitize @event.description %>
<% end %>

<hr>
<p><%= link_to "开始报名", new_event_registration_path(@event), :class => "btn btn-primary" %></p>

<!-- Event Comment Section -->

<div class="panel panel-info">
  <div class="panel-body bg-info">
    <%= form_for @comment, url: event_comments_path(@event), method: :post do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if @event.comments.present? %>
  <% @event.comments.each do |comment| %>
    <div class="well well-sm">
      <div class="media">
        <div class="media-left">
          <% if comment.user.logo.present? %>
            <%= image_tag(comment.user.logo.url(:thumb), class: "thumbnail thumbnail-sm") %>
          <% else %>
            <img src="<%= image_url 'default_user_logo.png' %>" alt="user logo" class: "thumbnail thumbnail-sm">
          <% end %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= comment.user.display_name %></h4>
          <p class="text-muted"><%= comment.created_at.to_s(:long) %></p>
          <p><%= simple_format comment.body %></p>
        </div>
        </div>
    </div>
  <% end %>
<% end %>


<script>
// js for Event images
$(document).on("turbolinks:load", function () {
    $(".img-toggle").on('click', function () {
        var image = $(this).attr('src');
        $('#myModal').on('show.bs.modal', function () {
            $("#img-modal").attr("src", image);
        });
    });
});
</script>
