<!DOCTYPE html>
<html>
  <head>
    <title>RailsRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.png">
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <%= render "common/admin_navbar" %>
      </div>

      <div id="content" class="container" style="padding-top: 60px;">
        <%= render "common/flashes" %>
        <%= yield %>
      </div>

      <div id="footer">
        <%= render "common/footer" %>
      </div>
    </div>
  </body>
</html>
