<!DOCTYPE html>
<html>
  <head>
    <title>RailsRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" id="wrapper">
      <%= render "common/navbar" %>
      
      <div id="content">
        <%= render "common/flashes" %>
        <%= yield %>
      </div>

      <div id="footer">
        <%= render "common/footer" %>
      </div>
    </div>
  </body>
</html>
